ZOOM_ACCOUNT_ID=YOUR_ACCOUNT_ID
ZOOM_CLIENT_ID=YOUR_CLIENT_ID
ZOOM_CLIENT_SECRET=YOUR_CLIENT_SECRET
ZOOM_USER_ID=YOUR_ZOOM_USER_ID
TIMEZONE_DEFAULT=Asia/Kolkata
CORS_ALLOW_ORIGINS=http://localhost:5173
  